CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.swp
*.swo
*.swn
goose_brains/goose_brains
goose_brains/.ninja_deps
goose_brains/.ninja_log
goose_brains/build.ninja
goose_brains/rules.ninja
