body {
    background-color: #52534e;
}
@media only screen and (min-width: 40em) {
    .top-bar {
      text-align: center;
    }
    ul.center-buttons {
      display: inline-block;
    }
    .logo {
      position: absolute;
    }
    .tab-bar, .left-off-canvas-menu {
      display: none;
    }
    .logo {
        max-width: 2rem;
        margin-top: -3px;
        margin-left: 5px;
        top: 1px;
    }
    .menu-icon {
        padding-top: 1.2rem;
    }
    .touch-button {
        display: none;
    }
}
@media only screen and (max-width: 40em) {
    .top-bar {
        display: none;
        height: 0px;
    }
    .touch-button {
        display: table;
        color: #fff;
        border: 2px solid #f4ecd5;
        text-align: center;
        outline: none;
        text-decoration: none;
        position: absolute;
        z-index: 1000000;
        font-size: 10vmin;
    }
    .touch-button-text {
        display: table-cell;
        vertical-align: middle;
    }
    .flip {
        transform: scale(-1, 1);
    }
}
.tab-bar {
    height: 0px;
    .menu-icon {
      z-index: 2000000;
      display: block !important;
    }
}
.offcanvas-overlap .left-off-canvas-menu {
    z-index: 2000001;
}
